<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table border="1">
<tbody>
<tr>
<th>Asset</th>
<th>Severity</th>
<th>Ticket Mode</th>
<th>Message Text</th>
</tr>
<tr>
<td>s221533vaps2197</td>
<td>major</td>
<td>defer</td>
<td>iLA: 20160507_115743 || 10 || MNS_H5_EN_MDEX PLT_EVT_4169 || MAJOR || catalina.out || Please check assembler logs at /apps/tomcat/logs/search-exception.log || 07 May 2016 11:57:43,577 [http-nio-8080-exec-111] com.mns.endeca.controller.PLPErrorHandler ERROR-
 PLP ERROR MESSAGE LOGGED IN ERROR HANDLER java.lang.NumberFormatException: For input string: \\()\ regex:\\|\\| MAJOR \\|\\| [ LOG - emsg:log_logWatcher:os ]</td>
</tr>
<tr>
<td>s221533vaps2197</td>
<td>major</td>
<td>defer</td>
<td>iLA: 20160507_115743 || 10 || MNS_H5_EN_MDEX PLT_EVT_4169 || MAJOR || search-exception.log || Please check assembler logs at /apps/tomcat/logs/search-exception.log || 07 May 2016 11:57:43,577 [http-nio-8080-exec-111] com.mns.endeca.controller.PLPErrorHandler
 ERROR- PLP ERROR MESSAGE LOGGED IN ERROR HANDLER java.lang.NumberFormatException: For input string: \\()\ regex:\\|\\| MAJOR \\|\\| [ LOG - emsg:log_logWatcher:os ]</td>
</tr>
<tr>
<td>s221533vaps2201</td>
<td>major</td>
<td>defer</td>
<td>iLA: 20160507_115732 || 10 || MNS_H5_EN_MDEX PLT_EVT_4169 || MAJOR || catalina.out || Please check assembler logs at /apps/tomcat/logs/search-exception.log || 07 May 2016 11:57:32,822 [http-nio-8080-exec-104] com.mns.endeca.controller.PLPErrorHandler ERROR-
 PLP ERROR MESSAGE LOGGED IN ERROR HANDLER java.lang.NumberFormatException: For input string: \\()\ regex:\\|\\| MAJOR \\|\\| [ LOG - emsg:log_logWatcher:os ]</td>
</tr>
<tr>
<td>s221533vaps2202</td>
<td>major</td>
<td>defer</td>
<td>iLA: 20160507_115800 || 10 || MNS_H5_EN_MDEX PLT_EVT_4169 || MAJOR || catalina.out || Please check assembler logs at /apps/tomcat/logs/search-exception.log || 07 May 2016 11:58:00,040 [http-nio-8080-exec-76] com.mns.endeca.controller.PLPErrorHandler ERROR-
 PLP ERROR MESSAGE LOGGED IN ERROR HANDLER java.lang.NumberFormatException: For input string: \\()\ regex:\\|\\| MAJOR \\|\\| [ LOG - emsg:log_logWatcher:os ]</td>
</tr>
<tr>
<td>s221533vaps2202</td>
<td>major</td>
<td>defer</td>
<td>iLA: 20160507_115800 || 10 || MNS_H5_EN_MDEX PLT_EVT_4169 || MAJOR || search-exception.log || Please check assembler logs at /apps/tomcat/logs/search-exception.log || 07 May 2016 11:58:00,040 [http-nio-8080-exec-76] com.mns.endeca.controller.PLPErrorHandler
 ERROR- PLP ERROR MESSAGE LOGGED IN ERROR HANDLER java.lang.NumberFormatException: For input string: \\()\ regex:\\|\\| MAJOR \\|\\| [ LOG - emsg:log_logWatcher:os ]</td>
</tr>
<tr>
<td>s221533vaps2203</td>
<td>major</td>
<td>defer</td>
<td>iLA: 20160507_115739 || 10 || MNS_H5_EN_MDEX PLT_EVT_4169 || MAJOR || catalina.out || Please check assembler logs at /apps/tomcat/logs/search-exception.log || 07 May 2016 11:57:39,961 [http-nio-8080-exec-87] com.mns.endeca.controller.PLPErrorHandler ERROR-
 PLP ERROR MESSAGE LOGGED IN ERROR HANDLER java.lang.NumberFormatException: For input string: \\()\ regex:\\|\\| MAJOR \\|\\| [ LOG - emsg:log_logWatcher:os ]</td>
</tr>
<tr>
<td>s221533vaps2203</td>
<td>major</td>
<td>defer</td>
<td>iLA: 20160507_115740 || 10 || MNS_H5_EN_MDEX PLT_EVT_4169 || MAJOR || search-exception.log || Please check assembler logs at /apps/tomcat/logs/search-exception.log || 07 May 2016 11:57:39,961 [http-nio-8080-exec-87] com.mns.endeca.controller.PLPErrorHandler
 ERROR- PLP ERROR MESSAGE LOGGED IN ERROR HANDLER java.lang.NumberFormatException: For input string: \\()\ regex:\\|\\| MAJOR \\|\\| [ LOG - emsg:log_logWatcher:os ]</td>
</tr>
</tbody>
</table>
</body>
</html>