<html>
<head>
<meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
</head>
<body>
<table border="1">
<tbody>
<tr>
<th>Asset</th>
<th>Severity</th>
<th>Ticket Mode</th>
<th>Message Text</th>
</tr>
<tr>
<td>s221533vaps2031</td>
<td>major</td>
<td>keep</td>
<td>iLA: MNS__CTRLM_SVR CONTROL-M JOB - The JOB PROD_PIMPPRL040 ran on node s221533vaps5091 in datacenter CTM_R3PRD at 20160813081907. It Failed with severity R and status Not_Noticed. Message thrown: Job status-[Delays] Severity-[MINOR] [ LOG - emsg:log_ctrlm:os]</td>
</tr>
</tbody>
</table>
</body>
</html>